using @(Model.CoreNamespace).Domain.Model;

namespace @(Model.CoreNamespace).Domain.Repositories
{
    public interface IRoleRepository
    {
        void Add(Role role);
        Role FindByName(string name);
        void Delete(Role role);
    }
}