using System.Collections.Generic;

namespace @(Model.CoreNamespace).Domain.Model
{
    public class Role
    {
        public virtual long Id { get; set; }
        public virtual string Name { get; set; }
        public virtual IList<User> Users { get; set; }

        public Role()
        {
            Users = new List<User>();
        }
    }
}