using System.Web.Mvc;

namespace @(Model.WebNamespace).Controllers
{
    public class HomeController : Controller
    {
        public ActionResult Index()
        {
            return View();
        }

    }
}
