using FluentNHibernate.Mapping;

namespace @(Model.TestNamespace).Common.Transaction
{
    public class FooMap : ClassMap<Foo>
    {
        public FooMap()
        {
            Id(x => x.Id);
        }
    }
}
