using Ploeh.AutoFixture;

namespace @(Model.TestNamespace)
{
    public class AutoFixtureCustomization : ICustomization
    {
        public void Customize(IFixture fixture)
        {
            fixture.Customize(new MultipleCustomization());
        }
    }
}