<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <Configuration Condition=" '$(Configuration)' == '' ">Debug</Configuration>
    <Platform Condition=" '$(Platform)' == '' ">AnyCPU</Platform>
    <ProductVersion>8.0.30703</ProductVersion>
    <SchemaVersion>2.0</SchemaVersion>
    <ProjectGuid>{A79A3D7D-8722-4830-BC95-B3257879D1C3}</ProjectGuid>
    <OutputType>Library</OutputType>
    <AppDesignerFolder>Properties</AppDesignerFolder>
    <RootNamespace>@(Model.TestNamespace)</RootNamespace>
    <AssemblyName>@(Model.TestNamespace)</AssemblyName>
    <TargetFrameworkVersion>v4.5</TargetFrameworkVersion>
    <FileAlignment>512</FileAlignment>
    <TargetFrameworkProfile />
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Debug|AnyCPU' ">
    <DebugSymbols>true</DebugSymbols>
    <DebugType>full</DebugType>
    <Optimize>false</Optimize>
    <OutputPath>bin\Debug\</OutputPath>
    <DefineConstants>DEBUG;TRACE</DefineConstants>
    <ErrorReport>prompt</ErrorReport>
    <WarningLevel>4</WarningLevel>
    <CodeAnalysisRuleSet>AllRules.ruleset</CodeAnalysisRuleSet>
    <RunCodeAnalysis>false</RunCodeAnalysis>
    <PlatformTarget>x86</PlatformTarget>
    <Prefer32Bit>False</Prefer32Bit>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Release|AnyCPU' ">
    <DebugType>pdbonly</DebugType>
    <Optimize>true</Optimize>
    <OutputPath>bin\Release\</OutputPath>
    <DefineConstants>TRACE</DefineConstants>
    <ErrorReport>prompt</ErrorReport>
    <WarningLevel>4</WarningLevel>
    <Prefer32Bit>False</Prefer32Bit>
  </PropertyGroup>
  <ItemGroup>
    <Reference Include="AutoMapper" >
      <HintPath>..\packages\AutoMapper.2.1.267\lib\net40\AutoMapper.dll</HintPath>
    </Reference>
    <Reference Include="Castle.Core">
      <HintPath>..\packages\Castle.Core.3.1.0.\lib\net35\Castle.Core.dll</HintPath>
    </Reference>
    <Reference Include="Castle.Windsor">
      <HintPath>..\packages\Castle.Windsor.3.1.0\lib\NET40\Castle.Windsor.dll</HintPath>
    </Reference>
    <Reference Include="FluentNHibernate">
      <HintPath>..\packages\FluentNHibernate.1.3.0.733\lib\FluentNHibernate.dll</HintPath>
    </Reference>
    <Reference Include="Iesi.Collections">
      <HintPath>..\packages\Iesi.Collections.3.3.1.4000\lib\Net35\Iesi.Collections.dll</HintPath>
    </Reference>
    <Reference Include="MvcContrib, Version=2.0.95.0, Culture=neutral, processorArchitecture=MSIL">
      <SpecificVersion>False</SpecificVersion>
      <HintPath>..\packages\MvcContrib.2.0.95.0\lib\MvcContrib.dll</HintPath>
    </Reference>    
    <Reference Include="NHibernate">
      <HintPath>..\packages\NHibernate.3.3.1.4000\lib\Net35\NHibernate.dll</HintPath>
    </Reference>
    <Reference Include="Ploeh.AutoFixture">
      <HintPath>..\packages\AutoFixture.2.12.0\lib\Ploeh.AutoFixture.dll</HintPath>
    </Reference>
    <Reference Include="Ploeh.SemanticComparison">
      <HintPath>..\packages\AutoFixture.2.12.0\lib\Ploeh.SemanticComparison.dll</HintPath>
    </Reference>
    <Reference Include="Ploeh.AutoFixture.Xunit">
      <HintPath>..\packages\AutoFixture.Xunit.2.12.0\lib\Ploeh.AutoFixture.Xunit.dll</HintPath>
    </Reference>  
    <Reference Include="Rhino.Mocks">
      <HintPath>..\packages\RhinoMocks.3.6.1\lib\net\Rhino.Mocks.dll</HintPath>
    </Reference>
    <Reference Include="System" />
    <Reference Include="System.Configuration" />
    <Reference Include="System.Core" />
    <Reference Include="System.Data.SQLite">
      <HintPath>..\packages\System.Data.SQLite.1.0.81.1\lib\net40\System.Data.SQLite.DLL</HintPath>
    </Reference>
    <Reference Include="System.Data.SQLite.Linq">
      <HintPath>..\packages\System.Data.SQLite.1.0.81.1\lib\net40\System.Data.SQLite.Linq.dll</HintPath>
    </Reference>
    <Reference Include="System.Web" />
    <Reference Include="System.Web.ApplicationServices" />
    <Reference Include="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
    <Reference Include="System.Xml.Linq" />
    <Reference Include="System.Data.DataSetExtensions" />
    <Reference Include="Microsoft.CSharp" />
    <Reference Include="System.Data" />
    <Reference Include="System.Xml" />
    <Reference Include="xunit">
      <HintPath>..\packages\xunit.1.9.1\lib\net20\xunit.dll</HintPath>
    </Reference>
    <Reference Include="xunit.extensions">
      <SpecificVersion>False</SpecificVersion>
      <HintPath>..\packages\xunit.extensions.1.9.1\lib\net20\xunit.extensions.dll</HintPath>
    </Reference>  
  </ItemGroup>
  <ItemGroup>
    <Compile Include="Common\Persistence\NHibernate\NHibernateUnitOfWorkFactoryTests.cs" />
    <Compile Include="Common\Persistence\NHibernate\SharedNHibernateUnitOfWorkTests.cs" />
    <Compile Include="Common\Persistence\NHibernate\SingleNHibernateUnitOfWorkTests.cs" />
    <Compile Include="Common\Persistence\PageTests.cs" />
    <Compile Include="Common\Transaction\Foo.cs" />
    <Compile Include="Common\Transaction\FooMap.cs" />
    <Compile Include="Common\Transaction\FooRepository.cs" />	
    <Compile Include="Common\Transaction\InsideTransactionsTests.cs" />
    <Compile Include="Common\Transaction\TransactionAttributeTests.cs" />
    <Compile Include="Common\Transaction\TransactionRangeTests.cs" />
    <Compile Include="Common\Windsor\WindsorConfigurationTests.cs" />
    <Compile Include="PersistenceTest.cs" />
    <Compile Include="AutoFixtureCustomization.cs" />
    <Compile Include="AutoFixtureData.cs" />
    <Compile Include="Properties\AssemblyInfo.cs" />
  </ItemGroup>
  <ItemGroup>
    <Folder Include="Common\AutoMapper" />
    <Folder Include="Controllers\" />
    <Folder Include="Repositories\" />
    <Folder Include="Services\" />
  </ItemGroup>
  <ItemGroup>
    <None Include="App.config" />
    <None Include="packages.config" />
  </ItemGroup>  
  <ItemGroup>
    <ProjectReference Include="..\@(Model.CoreNamespace)\@(Model.CoreNamespace).csproj">
      <Project>{C97707D6-B7CD-440F-A629-839001077A8C}</Project>
      <Name>@(Model.CoreNamespace)</Name>
    </ProjectReference>
    <ProjectReference Include="..\@(Model.WebNamespace)\@(Model.WebNamespace).csproj">
      <Project>{400A6ABB-ADE1-4338-BB23-ECB72DB8A7ED}</Project>
      <Name>@(Model.WebNamespace)</Name>
    </ProjectReference>
  </ItemGroup>
  <ItemGroup>
    <WCFMetadata Include="Service References\" />
  </ItemGroup>
  <ItemGroup>
    <Content Include="..\packages\System.Data.SQLite.1.0.81.1\content\net40\x64\SQLite.Interop.dll">
      <CopyToOutputDirectory>Always</CopyToOutputDirectory>
    </Content>
    <Content Include="..\packages\System.Data.SQLite.1.0.81.1\content\net40\x86\SQLite.Interop.dll">
      <CopyToOutputDirectory>Always</CopyToOutputDirectory>
    </Content>
  </ItemGroup>
  <Import Project="$(MSBuildToolsPath)\Microsoft.CSharp.targets" />
  <!-- To modify your build process, add your task inside one of the targets below and uncomment it. 
       Other similar extension points exist, see Microsoft.Common.targets.
  <Target Name="BeforeBuild">
  </Target>
  <Target Name="AfterBuild">
  </Target>
  -->
</Project>