using System;

namespace @(Model.CoreNamespace).Common.Transactions
{
    [AttributeUsage(AttributeTargets.Method, AllowMultiple = false, Inherited = false)]
    public class TransactionAttribute : Attribute
    {
    }
}